.market {
    height: 100%;
    width: 100%;
  }
  
  .market__header {
    height: 65vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* Safari */
    -webkit-background-repeat: no-repeat; /* Safari */
  }
  
  .market__header h1 {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 4rem;
    z-index: 4;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.630) 3%, rgba(255, 255, 255, 0) 100%);
    -webkit-background: linear-gradient(0deg, rgba(0, 0, 0, 0.630) 3%, rgba(255, 255, 255, 0) 100%); /* Safari */
    transform: translateY(30px);  /* Move the text below by 30px initially */
    opacity: 0;  /* Initially hide the text */
    animation: moveUp 2s forwards;  /* Trigger the animation */
    -webkit-animation: moveUp 2s forwards; /* Safari */
  }
  

  /* Keyframes for moving text */
  @keyframes moveUp {
    0% {
      transform: translateY(30px); /* Start from below */
      opacity: 0;                  /* Hidden */
    }
    100% {
      transform: translateY(0);    /* Move to original position */
      opacity: 1;                  /* Fully visible */
    }
  }

  @-webkit-keyframes moveUp {
    0% {
      transform: translateY(30px); /* Start from below */
      opacity: 0;                  /* Hidden */
    }
    100% {
      transform: translateY(0);    /* Move to original position */
      opacity: 1;                  /* Fully visible */
    }
  }

  .market__header .market__header__bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    -webkit-object-fit: cover; /* Safari */
  }


  .markets__sections__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
  }


  .markets__sections__wrapper .markets__section__one {
    width: 80%;
    padding-bottom: 2%;
    border-bottom: 1px solid #c5c5c5;
  }


  .markets__sections__wrapper .markets__section__one p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1%;
  }


  .markets__sections__wrapper .markets__section__one .markets__section__one__icon {
    font-size: 3rem;
    margin-right: 30px;
    color: #d50100;
    float: left;
  }


  .markets__sections__wrapper .markets__section__two {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    gap: 5%;
    margin-top: 3%;
    height: 400px;
  }
  
  .markets__sections__wrapper .markets__section__two img {
    height: 400px;
    width: 50%;
    object-fit: cover;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    -webkit-border-top-left-radius: 80px; /* Safari */
    -webkit-border-bottom-right-radius: 80px; /* Safari */
  }
  
  .markets__sections__wrapper .markets__section__two .markets__section__two__content__wrapper {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .markets__sections__wrapper .markets__section__two .markets__section__two__content__wrapper p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
  }
  
  .markets__sections__wrapper .markets__section__two .markets__section__two__content__link {
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 2px solid #d50100;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
  }

  .markets__section__two__content__wrapper a{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 2px solid #d50100;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
  }
  
  .markets__sections__wrapper .markets__section__two .markets__section__two__content__link .markets__section__two__content__link__icon {
    transition: 0.2s;
    font-size: 1.6rem;
  }
  
  .markets__sections__wrapper .markets__section__two .markets__section__two__content__link:hover .markets__section__two__content__link__icon {
    margin-left: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s; /* Safari */
  }
  
  .market__des {
    width: 80%;
    margin: 5%;
  }
  
  @media screen and (max-width: 1000px) {
    .market__header {
      height: 80vh;
    }
    .market__header h1 {
      font-size: 3.5rem;
    }
    .markets__section__two {
      flex-direction: column;
      height: max-content !important;
    }
    .markets__section__two img {
      width: 100% !important;
    }
    .markets__section__two .markets__section__two__content__wrapper {
      margin-top: 5%;
      height: max-content !important;
    }
    .markets__section__two .markets__section__two__content__wrapper .markets__section__two__content__link {
      margin-top: 2%;
    }
    .market__des {
      margin-top: 10% !important;
    }
  }
  




  @media screen and (max-width: 720px) {
    .market__header {
      height: 80vh;
    }
    .market__header h1 {
      font-size: 2rem;
    }
  }