.market-map-graph-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    
  }

  .industry-map-detail-image-container {
    position: relative;
    display: inline-block;
  }

  .industry-map-detail-hover-area {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 3;
    cursor: pointer;
  }


  .industry-map-detail-highlight {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    border: 2px dashed transparent;
  }

  .industry-map-detail-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation: industry-map-detail-moveArrow 1s infinite;
  }

  .industry-map-detail-arrow.down {
    transform: rotate(45deg);
  }

  @keyframes industry-map-detail-moveArrow {
    0% { transform: translateY(0) rotate(45deg); }
    50% { transform: translateY(10px) rotate(45deg); }
    100% { transform: translateY(0) rotate(45deg); }
  }

  .industry-map-detail-highlight:hover + .industry-map-detail-hover-area {
    display: block;
    cursor: pointer; 
  }

  .industry-map-detail-highlight:hover .industry-map-detail-arrow {
    display: none;
    user-select: none;
  }