/* Responsive styles for 720px and below */
@media screen and (max-width: 720px) {
    .water-analyzer-header-title {
        font-size: 1.8rem;
        text-align: center;
    }
    .water-analyzer-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .water-analyzer-cards-container {
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        gap: 10px;
        padding: 10px;
        margin-top: 50px; /* Ensure it appears below header */
        width: 100%;
    }
    .water-analyzer-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        text-align: center;
        flex-shrink: 0; /* Prevent cards from shrinking */
        width: 220px; /* Slightly smaller width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Keep shadow */
        position: relative;
    }

    .water-analyzer-card-content {
       margin-top: 30px;
    }
    
    .water-analyzer-icon {
        color: #1c2835;
        position: absolute;
        top: 15px; /* Place icon at the top */
        left: 50%;
        transform: translateX(-50%); /* Center the icon horizontally */
    }
    
    .water-analyzer-content-section ul li {
        font-size: 1rem;
    }
    
    .water-analyzer-table-content-section {
        overflow-x: auto; /* Enable horizontal scrolling */
        width: 100%;
    }
    
    .water-analyzer-table {
        min-width: 800px; /* Ensure the table does not shrink too much */
    }
    
}