.water-analyzer-header {
    position: relative;
    width: 100%;
    height: 350px;
    background: url('./images/water-analyzer-images/pixelcut-export.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.water-analyzer-header-title {
    font-size: 32px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}

.water-analyzer-cards-container {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.water-analyzer-card {
    background: white;
    width: 260px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 15px;
}

.water-analyzer-card:hover {
    color: white;
    background: #1c2835;
}

.water-analyzer-card:hover .water-analyzer-icon {
    color: white;
}

.water-analyzer-icon {
    font-size: 30px;
    color: #1c2835;
    position: relative;
    bottom: 25px;
}

.water-analyzer-card-content h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.water-analyzer-card-content p {
    font-size: 14px;
}

.water-analyzer-content-section {
    margin: 100px auto 0px;
    width: 80%;
    padding: 20px;
    text-align: left;
}

.water-analyzer-content-title {
    font-size: 26px;
    margin-bottom: 5px;
    color: #1c2835;
}

.water-analyzer-content-section p, .water-analyzer-content-section ul {
    font-size: 16px;
    margin-bottom: 18px;
    line-height: 1.6;
}

.water-analyzer-content-section ul {
    padding-left: 20px;
}

.water-analyzer-content-section ul li {
    margin-bottom: 10px;
}

.water-analyzer-table-content-section {
  margin: 0px auto;
  width: 80%;
  padding: 20px;
  text-align: left;
}

.water-analyzer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.water-analyzer-table th, .water-analyzer-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.water-analyzer-table th {
  background-color: #1c2835;
  color: white;
}

.water-analyzer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.faq-section {
    padding: 0 11%;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 8px; /* Rounded corners */
    margin-top: 20px;
  }
  
  .faq-section__title {
    margin-bottom: 5px;
    font-size: 1.8rem;
    color:#333;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc; /* Divider line between FAQs */
    padding: 10px 0;
  }
  
  .faq-item__question {
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Space between question and button */
    align-items: center; /* Center align items vertically */
    cursor: pointer; /* Pointer cursor for interaction */
  }
  
  .faq-toggle-button {
    background: none; /* No background */
    border: none; /* No border */
    font-size: 18px; /* Size of toggle button */
    color: #d50100; /* Button color */
    cursor: pointer; /* Pointer cursor for interaction */
    -webkit-appearance: none;
  }
  
  .faq-item__answer {
    margin-top: 10px; /* Space above answer */
    color: #555; /* Text color for answer */
  }
  
  .hidden {
    display: none;
  }
