
.pulp-paper-header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/industry/environmental-solutions/marketImages/PulpandPaper.jpg') center/cover;
  color: white;
}

.pulp-paper-header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  animation: fadeIn 1.5s ease-in-out;
}

.pulp-paper-header p {
  font-size: 1.5rem;
  font-weight: 400;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.pulp-paper-section {
  padding: 20px 40px;

}

.pulp-paper-section:nth-child(even) {
  background: #fff;
}

.pulp-paper-description {
  max-width: 1000px;
}

.pulp-paper-description h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 20px;
}

.pulp-paper-description p {
  font-size: 1.2rem;
  color: #555;
}

.pulp-paper-benefits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1000px;
}

.pulp-paper-benefit {
  flex: 1;
  min-width: 300px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.pulp-paper-benefit:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pulp-paper-section h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.pulp-paper-benefit p {
  font-size: 1rem;
  color: #555;
}


.pulp-paper-uses h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
}

.pulp-paper-uses ul {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}

.pulp-paper-uses ul li {
  position: relative;
  padding-left: 30px;
}

.pulp-paper-uses ul li::before {
  content: '\2022';
  color: #007BFF;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.pulp-paper-map-graph-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .pulp-paper-map-detail-image-container {
    position: relative;
    display: inline-block;
  }

  .pulp-paper-map-detail-highlight {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    border: 2px dashed transparent;
  }

  .pulp-paper-map-detail-text {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
  }

  .pulp-paper-map-left {
    width: 60%;
}

.pulp-paper-map-right.pulp-paper-industry-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.industry-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
}

.industry-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.industry-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #1c2835;;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.industry-card a:hover {
    background-color: #bd0202;
}